
<<<<<<< HEAD
  <script type="text/x-handlebars-template"></script>
  </script>
    {{#each users as |hero| }}
   <div class="col-md-12">
<div class="row align-center mb-5">
  <div class="col-md-3">
    <h2>{{hero.name}}</h2>
  </div>
  <div class="col-md-3 ">
    <h3><a href="mailto:{{hero.description}}">{{hero.power}}</a></h3>
  </div>
</div>
</div>
{{/each}}

 
=======





  {{#each rosterData}}
  {{!-- <h2>{{name}}</h2> --}}
  <div id = "roster-container">
          <h2 id = "roster-name">{{name}}</h2>
          <img src="{{i}}" alt="" id="roster-hero-img">
          {{!-- <h3 id="roster-description">{{description}}</h3> --}}
          <h3 id="roster-power">Power: {{power}}</h3>
          <h3 id="roster-combat">Combat: {{combat}}</h3>
          <h3 id="roster-durability">Durability: {{durability}}</h3>
          <h3 id="roster-strength">Strength: {{strength}}</h3>
          <h3 id="roster-speed">Speed: {{speed}}</h3>
          <h3 id="roster-intelligence">intelligence: {{intelligence}}</h3>
      </div>
  {{/each}}
  {{!-- <script type="text/x-handlebars-template">
  </script>
  <script></script> --}}
>>>>>>> b5251010fa745309287664fbd10aabe9ab55f26e
   
      