  {{#each rosterData}}
  <div id = "roster-container">
          <img src="{{i}}" alt="" id="roster-hero-img">
          <h3 class="roster-description">Description | Height:{{appearance.height}} | Weight:{{appearance.weight}}</h3>
          <h3 id="roster-power">Power: {{power}}</h3>
          <h3 id="roster-combat">Combat: {{combat}}</h3>
          <h3 id="roster-durability">Durability: {{durability}}</h3>
          <h3 id="roster-strength">Strength: {{strength}}</h3>
          <h3 id="roster-speed">Speed: {{speed}}</h3>
          <h3 id="roster-intelligence">intelligence: {{intelligence}}</h3>
          <img src="{{image}}">
          <h2 id = "roster-name">{{name}}</h2>
      </div>
  {{/each}}
