<div><h2>SEARCH TEST</h2></div>
  <div id= 'search-form'>
    <form class="form-group">
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="Enter Hero Name"
      aria-label="Enter Hero Name"
      aria-describedby="button-addon2"
    />
    </form>
    <button class="btn btn-primary search-button" type="button" id="searchButton" >Search<span>Search</span></button>
  </div>

  <div>
    <div 
    id="heroJar"
    {{!-- id="searchResults" --}}
    >
    </div>
  </div>


  {{!-- {{#each heros}}
  <div id = "roster-container">
          <h2 class = "roster-name">{{name}}</h2>
          <img src="{{image.url}}" alt="" class="roster-hero-img">
          <h3 class="roster-description">Description | Height:{{appearance.height}} | Weight:{{appearance.weight}}</h3>
          <h3 class="roster-power">Power: {{powerstats.power}}</h3>
          <h3 class="roster-combat">Combat: {{powerstats.combat}}</h3>
          <h3 class="roster-durability">Durability: {{powerstats.durability}}</h3>
          <h3 class="roster-strength">Strength: {{strength}}</h3>
          <h3 class="roster-speed">Speed: {{powerstats.speed}}</h3>
          <h3 class="roster-intelligence">intelligence: {{powerstats.intelligence}}</h3>
          <button onclick="run({{id}})">Recruit</button>
          
      </div>
  {{/each}} --}}
</div>




  <script src="/js/search.js"></script>
   
